.wp-block-gallery--stacked {
  .blocks-gallery-item figure {
    flex-direction: column;
  }

  .blocks-gallery-item figcaption {
    background: transparent;
    bottom: auto;
    color: $color__text-main;
    margin-top: 0.5em;
    max-height: none;
    overflow: hidden;
    padding: 0;
    position: static;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.gallery-mobile__slide-description {
  margin-top: 0;
  font-size: 0.875em;
  font-style: italic;
}

.royalSlider-container {
  display: none;
}

@media screen and (min-width: $breakpoint__md) {
  .gallery-mobile {
    display: none;
  }
}
