.gallery-mobile__slide-description {
  margin-top: 0;
  font-size: 0.875em;
  font-style: italic;
}

.royalSlider-container {
  display: none;
}

@media screen and (min-width: $breakpoint__md) {
  .gallery-mobile {
    display: none;
  }
}
