@media screen and (min-width: $breakpoint__md) {
  .royalSlider-container {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 40px;
    padding-left: 310px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .royalSlider {
    height: 100%;
    width: 100%;
  }

  .rsUni,
  .rsUni
  .rsOverflow,
  .rsUni
  .rsSlide,
  .rsUni
  .rsVideoFrameHolder,
  .rsUni
  .rsThumbs {
    background: #fff;
    color: #222;
  }

  .rsUni .rsArrow {
    width: 50%;

    &.rsArrowLeft {
      cursor: w-resize
    }

    &.rsArrowRight {
      cursor: e-resize
    }
  }

  .rsUni.rsHor .rsArrowLeft .rsArrowIcn,
  .rsUni.rsHor .rsArrowRight .rsArrowIcn {
    background: none;
  }

  .rs-meta {
    bottom: 50px;
    left: 50px;
    position: absolute;
    width: 210px;
    z-index: 25;

    .rsGCaption {
      float: none;
      font-size: 14px;
      font-style: italic;
      text-align: left;
    }

    .rsBullets {
      box-sizing: content-box;
    	position: relative;
    	z-index: 35;
    	padding-top: 15px;
    	width: 100%;
    	height: auto;
    	margin: 0 auto;

    	text-align: left;
    	line-height: 5px;
    	overflow: hidden;
    }

    .rsBullet {
      cursor: pointer;
    	width: 6px;
    	height: 6px;
    	display: inline-block;
    	*display:inline;
    	*zoom:1;
    	padding: 5px;

      span {
        display: block;
      	width: 6px;
      	height: 6px;
      	border-radius: 50%;
      	background: #BBB;
      }

      &.rsNavSelected span {
      	background-color: #383838;
      }
    }

    .rs-controls {
      color: #aaa;
      display: none;
      font-size: 12px;
      padding: 15px;
    }

    .rs-control {
      background: none;
      border: none;
      border-radius: 0;
      color: #222;
      cursor: pointer;
      display: inline;
      font-size: 12px;
      padding: 0;
      text-transform: uppercase;
    }

    &--vh-sm {
      background: #fff;
      bottom: 30px;
      left: auto;
      right: 30px;
      max-width: 240px;

      .rsGCaption {
        padding: 15px 15px 0;
      }

      .rsBullets {
        display: none;
      }

      .rs-controls {
        display: block;
      }
    }
  }

} // @media
