.site-main {
  padding: 20px;
}

@media screen and (min-width: $breakpoint__md) {
  .site {
    max-width: 1200px;
    width: 100%;
  }

  .site-main {
    margin-left: 280px;
    padding: 0px;
  }
}
