h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	letter-spacing: 0.01em;
	line-height: 1.2;
	margin: 1em 0;
}

h1 {
	font-size: 2.142857142857143em;
}

.entry-title {
	font-weight: 400;
	text-align: center;
}
