.site-header {
  padding: 20px;
  position: relative;
}

.site-branding {
  display: inline-block;
}

.site-title,
h1.site-title,
p.site-title {
  font-size: 3.142857142857143em; // 44px
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0;
  text-transform: uppercase;
}

// separate rule for WP Customizer
.site-title a,
.site-title a:visited {
  color: $color__text-main;
  text-decoration: none;
}

@media screen and (min-width: $breakpoint__md) {
  .site-header {
    left: 50px;
    padding: 0;
    position: fixed;
    top: 50px;
    width: 210px;
    z-index: 1;
  }

  .site-branding {
    margin-bottom: 30px;
  }
}
