/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.

	&[loading="lazy"] {
		opacity: 0;
		transition: opacity 0.5s linear;
	}
}

.no-js img {
	&[loading="lazy"] {
		opacity: 1;
	}
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

.wp-block-image {
	figcaption {
		font-size: 0.857142857142857em; // 12px
	}

	&.caption-left figcaption,
	&.caption--left figcaption {
		text-align: left;
	}

	&.caption-center figcaption,
	&.caption--center figcaption {
		text-align: center;
	}

	&.caption-right figcaption,
	&.caption--right figcaption {
		text-align: right;
	}
}
